<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28-csp/vue.js" type="text/javascript"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">

	.both {
      background-image: url("img/both.png");
      cursor: pointer;
	  background-position: right;
	  background-repeat: no-repeat;
	  padding-right: 30px
    }
    .down {
      background-image: url("img/down.png");
      cursor: pointer;
	  background-position: right;
	  background-repeat: no-repeat;
	  padding-right: 30px
    }
    .up {
      background-image: url("img/up.png");
      cursor: pointer;
	  background-position: right;
	  background-repeat: no-repeat;
	  padding-right: 30px
    }
	.app-active
	{
		position: relative; 
		overflow: hidden; 
		margin: 0; 
		padding: 0; 
		width: 20%;
	}

	.app-row
	{
		position: relative; 
		overflow: hidden; 
		margin: 0; 
		padding: 0; 
		width: 9%;
	}
	</style>
</head>
<body>
    <div class="row" id="tblMain">
             <div class="row">
             	 <div class="cal-sm-12">
             	 	<center> <h3>{{Nombre}}</h3> </center>
             	 </div>
             </div>
		     <div class="row">
		        <div class="col-sm-2"> </div>

		        <div class="col-sm-8">
		          <div class="table-responsive">
					 <table class="table table-bordered table-hover table-striped">
				      <thead>
					      <tr>
					         <th v-for="Column in Columns" :id="Column.Value">
					            <span @click="sortBy(Column.Value)" :class="clase" > {{Column.Value}} </span>
					         </th>
					      </tr>
					   </thead>
					   <tbody>
					      <tr v-for="dato in UserRegister | orderBy sortKey reverse" :class="dato.estado" :id="'row_'+dato.CustNum">
					         <td scope="row" class="app-row">{{dato.CustNum}}</td>
					         <td class="app-active">
					           <span @click="Edit(dato, 'Nit')" v-if="dato.Nit.span"> 
					              {{dato.Nit.Value}} 
					           </span>
					           <textbox :pmtro="dato" field="Nit"></textbox>
					         </td>
					          <td class="app-active">
					            <span @click="Edit(dato, 'Nombre')" v-if="dato.Nombre.span">
					               {{dato.Nombre.Value}}
					            </span>
					            <textbox :pmtro="dato" field="Nombre"></textbox>
					         </td>					         
					          <td class="app-active">
					           <span @click="Edit(dato, 'Apellido')" v-if="dato.Apellido.span">
					              {{dato.Apellido.Value}}					           
					           </span>
					           <textbox :pmtro="dato" field="Apellido"></textbox>
					         </td>
					      </tr>
					   </tbody>
				     </table>
				   </div>
				</div>

				<div class="col-sm-2">  </div>
		    </div>

		    <pre>
		      {{ UserRegister | json }}
		    </pre>
    </div>

	<script  type="text/javascript">

	     Vue.component("textbox" ,{
	     	props: ['pmtro', 'field'],
            template : '<input type="text" v-if="pmtro[field].txt" @mouseleave="leave(pmtro, field, $event)" '+
                         '@keyup="NewData(pmtro, field ,$event)" '+
                         '@keyup.esc="leave(pmtro, field ,$event)" '+
                         '@keyup.enter="leave(pmtro, field ,$event)" :value="pmtro[field].Value" class="form-control" style="width:100%">'+
                       '</input>',
            methods: 
            {
            	leave: function(dato, field , _evt)
            	{            		 
            		var oldNit = dato[field].Value;

            		if( _evt.path[0].value.trim()  )
            		{
            		   dato[field].Value = this.TypeValidation(dato[field].Type, _evt.path[0].value) ? _evt.path[0].value : oldfield;
            		}
            		else
            		{
            		   dato[field].Value = oldNit;
            		}

            		dato[field].txt  = (dato[field].txt ? false : true);
            		dato[field].span = (dato[field].span ? false : true);
            	},

            	NewData: function(dato , field ,_evt)
            	{
            	  if( !this.TypeValidation( dato[field].Type , _evt.path[0].value ) )
            	  {
            	  	alert("Solo se permiten números");
            	  }            		
            	},

            	TypeValidation: function(type , dato)
            	{
                   if( type == "Number" )
                   {
                       return isNaN( dato ) ? false : true;
                   }
                   else if( type == "String" )
                   {
                      return typeof dato == "string" ? true : false;
                   } 
            	}
            }
	     });
		 
		 new Vue({
  
            el: '#tblMain',

            data : {
            
                Nombre : "Edit Table Vue App",

                Columns : [
                    { Value : "CustNum"} ,
                    { Value : "Nit"}, 
                    { Value : "Nombre"} , 
                    { Value : "Apellido" }
                ],

                clase : "both",

                sortKey : '',

                reverse : 1,

            	UserRegister : [
                  
                  {
                    CustNum : "1" ,
                  	Nit : { Value : '1035415' , Type : "Number", txt : false, span : true } ,
                  	Nombre : { Value : "Diego" , Type : "String", txt : false, span : true } ,
                  	Apellido : { Value : "Rojas" , Type : "String", txt : false, span : true }
                  },
                  { 
                  	CustNum : "2" ,
                  	Nit : { Value : '8888888' , Type : "Number", txt : false, span : true } ,
                  	Nombre : { Value : "Manolo" , Type : "String", txt : false, span : true },
                  	Apellido : { Value : "Rios" , Type : "String", txt : false, span : true }
                  },
                  { 
                  	CustNum : "3" ,
                  	Nit : { Value : '9999999' , Type : "Number", txt : false, span : true } ,
                  	Nombre : { Value : "Tori" , Type : "String", txt : false, span : true } ,
                  	Apellido : { Value : "Rios" , Type : "String", txt : false, span : true }
                  }
            	]
            },

            methods: 
            {
            	Edit: function(dato, field)
            	{
            		dato[field].txt  = (dato[field].txt ? false : true);
            		dato[field].span = (dato[field].span ? false : true);
            	},

            	sortBy : function(sortKey)
            	{
            		console.log(sortKey);
		            this.reverse = (this.reverse == -1) ? 1 : -1 ;
		            this.clase = ( this.clase == "both" ? "down" : ( this.clase == "up" ? "down" : "up" ) );
		            this.sortKey = sortKey;		            
		        }
            }

		 });
	</script>
</body>
</html>

