<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://unpkg.com/vue@2.1.9/dist/vue.js" type="text/javascript"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="row" id="tblMain">

     <div class="row">
     	   <div class="cal-sm-12">
     	 	  <center> <h3>{{Nombre}}</h3> </center>
     	   </div>
     </div>

     <div class="row">
        <div class="col-sm-2"> </div>

        <div class="col-sm-8">
          <div class="table-responsive">
						 <showup-table :data="UserRegister" :columns="Columns"></showup-table>
		      </div>
	      </div>

	    	<div class="col-sm-2">  </div>
     </div>

		 <hr>

     <pre>
      {{ UserRegister }}
     </pre>

  </div>

	<template id="TableMain">
		<table class="table table-bordered table-hover table-striped">
	 		<thead>
	 				<tr>
	 					 <th v-for="column in columns" :id="'col_'+column" :class="{ active: sortKey == column }">
	 							{{ column }}
								<span class="arrow" :class="sortOrders[column] > 0 ? 'asc' : 'dsc'"> </span>
	 					 </th>
	 				</tr>
	 		 </thead>
			 <tbody>
			 	 <tr v-for="data in filteredData">
            <td v-for="key in columns" :id="'row_'+data[key].value">
               <span v-if="data[key].span" @click="Edit(data[key], 'Nombre')">
								 {{ data[key].value }}
							 </span>
							 <showup-textbox :content="data" :row="key"></showup-textbox>
						</td>
			 	 </tr>
			 </tbody>
 	  </table>
	</template>

	<template id="txtMain">
		  <input type="text"
			       v-if="content[row].txt"
			       :value="content[row].value"
						 @mouseleave="leave(content[row], row, $event)"
						 @keyup="NewData(content[row], row, $event)"
						 class="form-control"
						 style="width:100%">
	</template>

	<script  type="text/javascript">

	    Vue.component("showup-table",{

				  template: "#TableMain",
					props:
					{
						 data: Array,
						 columns: Array
					},
					data: function ()
					{
					 var sortOrders = {}
					 this.columns.forEach(function (key) {
						 sortOrders[key] = 1
					 })
					 return {
						 sortKey: '',
						 sortOrders: sortOrders
					 }
				 },
				 computed:
				 {
				    filteredData: function ()
						{
				      var sortKey = this.sortKey
				      var order = this.sortOrders[sortKey] || 1
				      var data = this.data
				      if (sortKey)
							{
				        data = data.slice().sort(function (a, b) {
				          a = a[sortKey]
				          b = b[sortKey]
				          return (a === b ? 0 : a > b ? 1 : -1) * order
				        })
				      }
				      return data
				    }
				 },
				 methods:
				 {
					 sortBy: function (key) {
				    this.sortKey = key
				    this.sortOrders[key] = this.sortOrders[key] * -1
				  },
					 Edit: function(dato, field)
					 {
						 dato.txt  = (dato.txt ? false : true);
						 dato.span = (dato.span ? false : true);
					 }
				 }

		  });

	    Vue.component("showup-textbox" ,{
				 template : '#txtMain',
	     	 props: {
						 content: Object,
						 row: String
					},
					methods:
					{
						leave: function(dato, field , _evt)
						{
							var oldNit = dato.value;
							if( _evt.path[0].value.trim()  )
							{
								 dato.value = this.TypeValidation(dato.Type, _evt.path[0].value) ? _evt.path[0].value : oldNit;
							}
							else
							{
								 dato.value = oldNit;
							}
							dato.txt  = (dato.txt ? false : true);
							dato.span = (dato.span ? false : true);
						},
						NewData: function(dato , field ,_evt)
						{
							if( !this.TypeValidation( dato.Type , _evt.path[0].value ) )
							{
								alert("Solo se permiten números");
							}
						},
						TypeValidation: function(type , dato)
						{
								 if( type == "Number" )
								 {
										 return isNaN( dato ) ? false : true;
								 }
								 else if( type == "String" )
								 {
										return typeof dato == "string" ? true : false;
								 }
						}
					}
      });

		  new Vue({

            el: '#tblMain',

            data :
						{
                Nombre : "Edit Table Vue App",

                Columns : [ "CustNum" , "Nit", "Nombre", "Apellido" ],

            	  UserRegister : [
                  {
                    CustNum: {value : "1", span : true} ,
                  	Nit: { value : '1035415' , Type : "Number", txt : false, span : true } ,
                  	Nombre: { value : "Diego" , Type : "String", txt : false, span : true } ,
                  	Apellido: { value : "Rojas" , Type : "String", txt : false, span : true }
                  },
                  {
                  	CustNum: {value : "2", span : true} ,
                  	Nit: { value : '8888888' , Type : "Number", txt : false, span : true } ,
                  	Nombre: { value : "Manolo" , Type : "String", txt : false, span : true },
                  	Apellido: { value : "Rios" , Type : "String", txt : false, span : true }
                  },
                  {
                  	CustNum: {value : "3", span : true} ,
                  	Nit: { value : '9999999' , Type : "Number", txt : false, span : true } ,
                  	Nombre: { value : "Tori" , Type : "String", txt : false, span : true } ,
                  	Apellido: { value : "Rios" , Type : "String", txt : false, span : true }
                  }
            	  ]
            },
		 });
	</script>
</body>
</html>
